/* Navbar.css */
header {
  background-color: #D9D9D9;
  color: #100F0F;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.welcome-container {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.welcome {
  font-family: "Sofia Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.admin-box {
  background-color: #4F709C; /* Set the background color of the blue box */
  color: white; /* Set the text color to white */
  padding: 5px 10px;
  border-radius: 5px;
}

nav {
  background-color: #333;
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

  